<div class="wrapper">
<header class="header">
	<div class="row">
		<div class="col-sm-7 col-md-8 col-lg-9">
			<h1>
				Triman Nguyen
				<small>Front End Developer</small>
			</h1>
		</div>
		<div class="col-sm-5 col-md-4 col-lg-3">
			<div class="social">
				<a href="https://www.facebook.com/treemen" target="_blank">
					<i class="fa fa-facebook-square"></i>
				</a>
				<a href="https://www.linkedin.com/in/trimnguy" target="_blank">
					<i class="fa fa-linkedin-square"></i>
				</a>
				<a href="https://plus.google.com/u/0/103471027752016189478" target="_blank">
					<i class="fa fa-google-plus-square"></i>
				</a>
				<a href="https://github.com/trimanguy" target="_blank">
					<i class="fa fa-github-square"></i>
				</a>
			</div>
			<p class="contact">
                <span><i class="fa fa-envelope-o"></i>&nbsp;<a href="mailto:triman.nguyen@gmail.com">triman.nguyen@gmail.com</a></span>
                <br>
                <span><i class="fa fa-phone"></i>&nbsp;<a href="tel:+14087058136">408-705-8136</a></span>
            </p>
		</div>
	</div>
</header>

<main class="content">
	<section class="row goal">
		<div class="col-md-3">
			<h2 class="section-title">Goal</h2>
		</div>
		<div class="col-md-9">
			<div class="item" style=" margin-top:25px">
				<big>
					To create awesome User Interfaces that I cannot wait to share with the world.
                </big>
			</div>
		</div>
	</section>
	<section class="row">
		<div class="col-md-3">
			<h2 class="section-title">Experience</h2>
		</div>
		<div class="col-md-9">
			<div class="item">
				<h3>
					<span>Software Engineer</span>
					<small class="pull-right">August 2013 - Present</small>
				</h3>
				<h4>Cisco Systems, Full-Time</h4>
				<p>
					Working in the Connected Mobile eXperiences (CMX) team which develops applications leveraging indoor location information provided by Cisco. Created the UI for CMX Connect, the guest access solution for CMX.
                </p>
                <p>Technologies used: Backbone with Marionette (MV*), Less (Css), Html, Javascript/jQuery/jQueryMobile, Hellojs (OAuth 2.0), Highcharts, and Jasmine (UT).</p>
                <h5><b>Custom Guest Portal</b></h5>
                <ul>
                	<li>Created the Guest Portal Designer, a WYSIWYG editor which allows non-technical venue owners to design and serve responsive splash pages to their customers. Venue owners can upload their own branding content, such as images and terms, and collect guest information using registration forms or Social OAuth.</li>
                	<li>Developed the Custom Splash Page that is served to visitors. Worked to provide cross-browser support for browsers ranging back to Internet Explorer 8 and also cross-device support for phones to tablets and PCs.</li>
                </ul>
                <h5><b>Facebook Wi-Fi</b></h5>
                <ul>
                	<li>Created UI for Facebook Wi-Fi, a guest Wi-Fi product offered by Cisco and Facebook which allows guests to onboard to Wi-Fi by checking-in to a venue's page with their Facebook account.</li>
                </ul>
                <h5><b>Reporting and Configuration</b></h5>
                <ul>
                	<li>Designed and implemented reporting dashboard for CMX Connect.  Reports shown includes location-specific, guest-trend KPIs and data charts using highcharts.</li>
                	<li>Built the configurations page where venue owners can assign portals and/or Facebook Wi-Fi pages to their venues. Designed an inheritance-based pairing scheme which allowed venue owners to reuse pairings, greatly reducing the number of locations they had to set up pairings for.</li>
                </ul>
			</div>
		</div>
	</section>
	<section class="row">
		<div class="col-md-3">
			<h2 class="section-title">Skills</h2>
		</div>
		<div class="col-md-9">
			<div class="item">
				<ul class="skills">
					<li>Backbone with Marionette</li>
					<li>Javascript, Html/Html5, Css/Css3</li>
					<li>jQuery/jQueryMobile, Bootstrap, Hellojs, Highcharts, Less, and Jasmine</li>
					<li>Responsive Web Designs</li>
					<li>Git, SVN, and Linux</li>
					<li>Java</li>
					<li>Agile Development</li>
				</ul>
			</div>
		</div>

	</section>
	<section class="row">
		<div class="col-md-3">
			<h2 class="section-title">Education</h2>
		</div>
		<div class="col-md-9">
			<div class="item">
				<h3>
					University of California, Berkeley
					<span class="pull-right" style="display:block">May, 2013</span>
				</h3>
				<h4>Bachelor, Computer Science</h4>
			</div>
		</div>
	</section>
	<section class="row">
		<div class="col-md-3">
			<h2 class="section-title">Projects</h2>
		</div>
		<div class="col-md-9">
			<div class="item">
				<h3>
					Groceroo
					<small class="pull-right">Fall, 2013</small>
				</h3>
				<h4>A collaborative grocery shopping webapp</h4>
				<p>Worked with 4 other classmates in a semester long UI design project.</p>
				<ul>
					<li>Continuously refined interface designs through iterations of the Design-Prototype-Evaluate cycle.</li>
					<li>Developed a functional prototype using Javascript, Css, and Twitter Bootstrap.</li>
					<li>Project chosen as one of top three in class by Google UI/UX engineers.</li>
				</ul>

				<h3>
					CrowdPhotoEditor
					<small class="pull-right">Spring, 2012</small>
				</h3>
				<h4>A crowdsourced photo-editing SaaS webapp</h4>
				<p>Collaborated with 3 other classmates in a semester long app development project.</p>
				<ul>
					<li>Worked with non-technical client from planning and development through testing, assessment, and deployment.</li>
					<li>Practiced Agile development concepts and tools such as scrum and pair-programming in 2 week iterations.</li>
					<li>Was one of three groups chosen to present project to billionare CEO of C3 Energy, Tom Siebel.</li>
				</ul>
			</div>
		</div>
	</section>
</main>

<footer class="footer">
	<div class="copyright">&copy; 2015 Triman Nguyen.<br>555 Umbarger Road #78, San Jose, CA 95111</div>
</footer>
</div>